{% extends "header.html" %}

{% block head %}
<title>Fitness Classes</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<body>
    <h1>Fitness Classes</h1>
    {% for item in classes %}
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">{{item.name}}</div>
                    <div class="panel-footer"> Location: {{item.location}}</div>
                    <div class="panel-footer"> Times: {{item.times}}</div>
                    <div class="panel-footer"> Fitness Goals: {{item.goal}}</div>
                    <div class="panel-footer">
                        <form class="" action="/add-class/{{item.name}}" method="post">
                            <button type="submit" class="submit" name="button">Favorite Class</button>
                        </form>
                    </div>
                </div>
            </div>
    {% endfor %}
</body>
{% endblock %}
