{% extends "header.html" %}

{% block head %}
<title>Fitness Classes</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<body>
    <style>
    .panel-default > .panel-heading-custom1{
        font-size: 16px;
        background-color: #000000;
        color: #afeeee;
        text-align: center;
    }

    .panel-footer {
        padding: 10px 15px;
        background-color: #f5f5f5;
        border-top: 1px solid #ddd;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        text-align: center;
    }
</style>

<div class="w3-container w3-padding-32" id="myworkouts">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16" style="text-align: center;">Fitness Classes</h3>
</div>
{% for item in classes %}
<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading-custom1" style= "height: 3.4rem; line-height: 3rem;">
            <a href="{{item.link}}" target="_blank" style="color: inherit;">
                {{item.name}}
            </a>
            {% if item.name not in fav_classes %}
            <a href="/add-class/{{item.name}}" ">
                <span style="float: right; color: gold;"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-heart"></span>
                </button></span>
            </a>
            {% endif %}
        </div>
        <div class="panel-footer"> Location: {{item.location}}</div>
        <div class="panel-footer"> Times: {{item.times}}</div>
        <div class="panel-footer"> Fitness Goals: {{item.goal}}</div>
        <div class="panel-footer"> {{item.description}}</div>
    </div>
</div>
{% endfor %}
</body>
{% endblock %}
