{% extends "header.html" %}

{% block head %}
<title>Exercises</title>
{% endblock %}

{% block content %}
<style>
.panel-default > .panel-heading-custom1{
  font-size: 16px;
  background-color: #000000;
  color: #afeeee;
  text-align: center;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: center;
}
</style>
    <h1 style="text-align: center;">All Exercises</h1>
    {% for item in exercises %}
        {% set list1 = item.name.split(' ') %}

        {% set my_string = list1|join("-") %}

        <div class="col-md-4">
            <div class="panel panel-default">
                <a href="https://www.bodybuilding.com/exercises/{{my_string}}" target= "_blank"> 
                <div class="panel-heading-custom1" style="text-align: center;">{{item.name}}</div>
                </a>
                <div class="panel-footer">Related Body Part: {{item.body_part}}</div>
                <div class="panel-footer">Required Equipment: {{item.equipment}}</div>

            </div>
        </div>

    {% endfor %}

<!-- 
    {% for item in exercises %}
        {% set list1 = item.name.split(' ') %}

        {% set my_string = list1|join("-") %}
            <div class="col-sm-4">
                <div class="panel panel-default">

                   <a href="https://www.bodybuilding.com/exercises/{{my_string}}" target= "_blank"> <div class="panel-heading-custom1">{{item.name}}</div></a>
                    <div class="panel-footer">Related Body Part: {{item.body_part}}</div>
                    <p>Related Body Part: {{item.body_part}}, Required Equipment: {{item.equipment}}</p>
                    <br>
                </div>
            </div>
 -->

<!--     <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">{{item.name}}</div>
            <div class="panel-footer">Related Body Part: {{item.body_part}}</div>
            <p>Related Body Part: {{item.body_part}}, Required Equipment: {{item.equipment}}</p>
            <br>
        </div>
    </div> -->
<!-- 
    {% endfor %} -->
{% endblock %}
