{% extends "header.html" %}

{% block head %}
{% endblock %}

{% block content %}
    <h1 class="w3-jumbo"><b>All Exercises</b></h1>
    {% for item in exercises %}

    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">{{item.name}}</div>
            <!-- <div class="panel-footer">Related Body Part: {{item.body_part}}</div> -->
            <p>Related Body Part: {{item.body_part}}, Required Equipment: {{item.equipment}}</p>
            <br>
        </div>
    </div>

    {% endfor %}
{% endblock %}
