<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    {% block head %}
    {% endblock %}
</head>

<body>
    <div >
    <div class="w3-bar w3-white w3-wide w3-padding w3-card" >
        <a href="/" class="w3-bar-item w3-button"><b>CampusFitness</b></a>
        <div class="w3-right w3-hide-small" >
            <a href="/workouts" class="w3-bar-item w3-button">Workouts</a>
            <a href="/exercises" class="w3-bar-item w3-button">Exercises</a>
            <a href="/classes" class="w3-bar-item w3-button">Classes</a>
            {% if current_user.is_authenticated %}
                <a href="/saved-workouts" class="w3-bar-item w3-button">My Workouts</a>
                <a href="/logout" class="w3-bar-item w3-button">Logout</a>
            {% else %}
                <a href="/login" class="w3-bar-item w3-button">Login</a>
            {% endif %}
        </div>
    </div>
</div>

    <div class="body">
        {% block content %}
        {% endblock %}
    </div>
</body>


</html>
