<!DOCTYPE html>
<html lang="en" dir="ltr">
{% extends "header.html" %}
{% block content %}
<head>
  <title>Workouts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
    <body>
    	<h1>Explore Workout Types</h1>
        {% for item in workouts %}
            <a href="/workout/{{item.workout_type}}">
                <div class="col-md-4">
                  <div class="panel panel-primary">
                    <div class="panel-heading">{{item.workout_type}}</div>
                    {% for exercise in exercises %}
                        {% if exercise.workout_id == item.workout_id %}
                            <div class="panel-footer">{{exercise.exercise_id}}</div>
                        {% endif %}
                    {% endfor %}
                  </div>
                </div>
            </a>
        {% endfor %}
    </body>
{% endblock %}
</html>
