<DOCTYPE html>
    <html>
    {% extends "header.html" %}
    {% block content %}
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Oswald" rel="stylesheet">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
    </head>
    <form action="" method=post class="contain">
        <h2>Create a Workout</h2>
        <div class="control-group">
            <div class="controls">
                <input type="text" id="name" name="name" class="text"
                placeholder="Enter Name of Workout" required>
            </div>
        </div>
        <br>
        <div class="control-group">
            <div class="controls">
                <input type="radio" name="workout_type" value="Mind and Body" class="text"> Mind and Body
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="radio" name="workout_type" value="Strength and Endurance" class="text"> Strength and Endurance
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="radio" name="workout_type" value="Weight Loss" class="text"> Weight Loss
            </div>
        </div>
        {% for item in body_parts %}
            <h1>{{item.body_part}}</h1>
            {% for exercise in exercises %}
                {% if exercise.body_part == item.body_part %}
                    <div class="control-group">
                        <div class="controls">
                            <input type="checkbox" name="workout" value="{{exercise.name}}" class="text"> {{exercise.name}}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <br>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="submit">Create Workout</button>
            </div>
        </div>
        <br>
    </form>
    {% endblock %}
    </html>
