{% extends "header.html" %}

{% block head %}
<link href="https://fonts.googleapis.com/css?family=Montserrat|Oswald" rel="stylesheet">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/exercises.css') }}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

{% block content %}
<header>
    <form action="" method=post >
        <div class = "pict">
            <div class = "contain" style="height: 23rem;">
                <h1 style="padding: 1rem;">Create A Workout:</h1>
                <div class="control-group">
                    <div class="controls" style="padding-bottom: 1.4rem;">
                        <input type="text" id="name" name="name" class="text"
                        placeholder="Enter Name of Workout" required>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls" style="opacity: 0.9;">
                        <input type="radio" name="workout_type" value="Mind and Body" class="text"> Mind and Body
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls" style="opacity: 0.9;">
                        <input type="radio" name="workout_type" value="Strength and Endurance" class="text"> Strength and Endurance
                    </div>
                </div>
                <div class="control-group" style="opacity: 0.9;">
                    <div class="controls">
                        <input type="radio" name="workout_type" value="Weight Loss" class="text"> Weight Loss
                    </div>

                </div>
            </div>
            <div class = "contain" style="z-index: 1; font-size: 1.4rem; color: white; height: 2.4rem;top: 10rem; ">
                Select Exercises Below:
            </div>
            <img src="{{ url_for('static', filename='images/groupwerk.jpg') }}" id = "pic">
        </div>

    </header>
    <p id = "disc" > Click on an exercise to remove it.</p>



    <div class = "exercise-container">
        {% for trifecta in body_parts| batch(3, '&nbsp;')%}
        <div class = "three-body-parts" style = "display: inline-block; border: 2px solid black; width: 100%;">
            {% for item in trifecta %}
            <div class = "body-part">
                <h2>{{item.body_part}}</h2>
                <div class = "container">
                    <div class="dropdown">
                        <button class="dropbtn">Select</button>
                        <div class="dropdown-content">
                            {% for exercise in exercises %}
                            {% if exercise.body_part == item.body_part %}
                            <button type = "button" class = "buttons" value = "{{exercise.name}}" id = "{{item.body_part}}"> {{exercise.name}} </button>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class = "selections" id = "{{item.body_part}}-text">

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="submit">Create Workout</button>
        </div>
    </div>
    <br>

</form>
<script src={{ url_for('static', filename='wf.js') }}></script>

{% endblock %}
