{% extends "header.html" %}

{% block head %}
<title>Workouts</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<body>
    <h1 style = "text-align: center;"> All Workouts</h1>
    <div class = "bigdiv" style = "height: 100%; position: relative;background-image: linear-gradient(145deg, #d6e4fc, white); border-radius: 1rem;">
    {% for triple in workouts|batch(3, '')%}
    <div class = "workout-container" style = "width: 100%;
    display: inline-block;">


    {% for item in triple %}
        {% if item.workout_id|length > 0 %}
        <div  style = "float: left; width: 33%; padding-left: 0.5rem;padding-top: 1rem; display: inline-block; ">
            <div class="panel panel-primary" style="box-shadow: 2px 4px #9aa8bf;">
                <div class="panel-heading"><span>{{item.workout_id}} </span> 

                    {% if item.workout_id in owned_workouts %}
                    <a href="/add-favorite/{{item.workout_id}}">
                        <span style="float: right; color: gold;">Favorite This Workout</span>
                    </a>
                    {% endif %}
                </div>
                <div class="panel-footer">Workout Type: {{item.workout_type}}</div>

                {% for exercise in exercises %}
                    {% if exercise.workout_id == item.workout_id %}
                        {% set list1 = exercise.exercise_id.split(' ') %}
        
                        {% set my_string = list1|join("-") %}
                        <div class="panel-footer">
                            <a href="https://www.bodybuilding.com/exercises/{{my_string}}" target= "_blank">
                        {{exercise.exercise_id}}
                            </a>          
                        </div>
                    {% endif %}

                {% endfor %}
            </div>
        </div>
        <!-- <a href="/add-favorite/{{item.workout_id}}"><button type="button">Favorite this workout</button></a> -->
       {% endif %} 
    {% endfor %}
</div>
<br>
{% endfor %}
</div>
</body>
{% endblock %}
</html>
