.totalbar {
display:flex;
justify-content:space-between;
color: white;
  justify-content:space-between;
  overflow: hidden;
  width: 100%;
  font-size: 1.25rem;
  line-height: 2rem;
  font-family: "Fjalla One";
  font-style: italic;
  letter-spacing: 0.1rem;
  text-align: center;
}
.totalbar::after {
    content: "";
    clear: both;
    display: table;
}
* {
    box-sizing: border-box;
}
#leftbox{
   position: absolute;
  border-radius: 0.4rem;
  top: 0px;
  left: 0px;
  width: 25%; 
  margin: 0 auto;
  background: #00009c;
  height: 2rem;
  
}
#centbox{
/*   display: inline-block; */
  border-radius: 0.4rem;
   position: absolute;
  font-size: 1.6rem;
  top: 0px;
  left: 25%;
  width: 50%; 
  margin: 0 auto;
  background: #00009c;
  height: 2rem;
  border-right: 0.05rem solid white;
  border-left: 0.05rem solid white;
}
#rightbox{
  border-radius: 0.4rem;
  position: absolute;
  top: 0px;
  left: 75%;
  width: 25%; 
  margin: 0 auto;
  background: #00009c;
  height: 2rem;
  
}
a.headlink{
  color: white;
  text-decoration: none;
}